@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  right
}
body{
  padding: 0;
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: #1b1b1b00fa;
  line-height: 1.57;
}
.topnav a {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #1b1b1b;
  transition: 0.3s;
  margin-left: 30%;
}

.topnav a:hover {
  color: #5b5b5b;
  transition: 0.3s;
}
a:hover {
  color: #5b5b5b;
  transition: 0.3s;
}

.topnav a.active {
  background-color: #1b1b1b;
  color: white;
  border-radius: 4px;
}
#home-icon {
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 2em;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  color: white;
  position: absolute;
  top: 1%;
  left: 1%;
  transition: 0.3s;
  font-size: 2.3em
}
#home-icon:hover {
  color: #5b5b5b
}
.carousel-control {
  padding-top:10%;
  width:5%;
  margin-left: 0px;
  }
  .thumbnail {
    display: block !important;
    padding: 0px !important;
    margin-bottom: 20px !important;
    background-color: #fff0 !important;
    border: 0px solid #ddd0 !important;
    border-radius: 4px !important;
    -webkit-transition: border .2s ease-in-out !important;
    -o-transition: border .2s ease-in-out !important;
    transition: border .2s ease-in-out!important;
    width: 300px !important;
    height:170px !important;
    transition: 0.3s
}
.thumbnail img {
    border-radius: 4px;
}
  .well {
    background-color: #1b1b1b00 !important;
    height: 300px !important;
    width: 1895px;
    margin-left: -380px;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
}}
#myCarousel {
    background-color:  #1b1b1b;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
  }
  .img-responsive {
  width: 300px !important;
  height:170px !important;
  }
 .home-explainer__image {
    height: 1011px;
    border-radius: 4px;
    background-color: #1b1b1b;
}
  .carousel-inner {
    position: relative;
    width: 1870px;
    overflow: hidden;
    margin-left: 9px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 1900px;
    margin-top: 15px;
}
.carousel-control.left {
    height: 300px;
    background-color: black;
    margin-top: 100px;
    border-radius: 50%;
    padding: 8px 18px;
    width: 46px;
    height: 46px;
    opacity: 100 !important;
    margin-left: -20px;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-color: black;
    height: 0px;
    margin-top: 100px;
    margin-left: -20px;
    opacity: 100 !important;
    border-radius: 50%;
    padding: 8px 18px;
    width: 46px;
    height: 46px;
}
.anime-top-title {
    color: white;
    margin-left:10px;
    margin-top: 32px;
    font-size: 150%;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    display: block !important;
    transition: 0.3s;
}
h1 {
  font-weight: bolder !important;
}
#play-btn {
  color: black;
  position: absolute;
  top: 65px;
  left: 125px;
  border-radius: 50%;
  padding: 8px 18px;
  width: 46px;
  height: 46px;
  background-color: white;
  font-size: 20px;
  line-height: 1.6;
  text-decoration: none;
  display:none;
}
#play-btn:hover {
  display: block;
  color: gray;
  text-decoration: none;
}
.play-style {
  outline: none;
  border: none;
}
.col-xs-3 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 10px!important;
    width :16%!important;
    transition: 0.3s;
}
.col-xs-3:hover {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 10px!important;
    outline: none;
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}
a:hover {
  text-decoration: none;
  outline: none;
  border: none;
  color: white!important;
}
a {
  color: white !important;
}
.anime-title {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  font-weight: 1000;
  font-size: 24px;
  margin-left: -16px;
  margin-top: 25px;
}
.container {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 355px!important;
  width: 1170px;
}
.container2 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top:-155px !important;
  width: 1170px;
}
.container3 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -155px !important;
  width: 1170px;
}
.container4 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -155px !important;
  width: 1170px;
}
.container5 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -155px !important;
  width: 1170px;
}
.container6 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -155px !important;
  width: 1170px;
}
.genre-title {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-left: -29.5%;
  margin-top: 16.5%;
  margin-bottom: -10px;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title2 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29.3%;
  margin-top: 16.5%;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title3 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -28.8%;
  margin-top: 45% !important;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title4 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 45% !important;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title5 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 45% !important;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title6{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 45% !important;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title7{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 45% !important;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.genre-title8{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 45% !important;
  text-align: left;
  color: white;
  font-weight: 1000;
  font-size: 25px;
}
.header-img{
  margin-top: -55px;
  transition: 0.2s opacity ease;
  opacity: 1;
  width:1903px;
  height: 900px;
  background-image: linear-gradient(to bottom, rgb(75 95 11 / 0%), rgb(27 27 27)),linear-gradient(to top, rgb(75 105 111 / 0%), rgb(0 0 0 / 62%)), url(https://wallpaperaccess.com/full/1084612.png);
  background-repeat: no-repeat;
  background-size: 1903px 900px;
}
.all-rows {
  margin-top: -200px;
}
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 500;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}
.front-title {
  position: absolute;
  color: white;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  left: 150px;
  top: 200px;
  font-size: 70px;
}
.summary {
  position: absolute;
  color: white;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  left:150px;
  top: 325px;
  font-size:110%;
}
.header-info {
  font-size: 125%;
  position: absolute;
  top: 400px;
  left:150px;
  color:white;
  display: none;
}
.play-btn {
  position: absolute;
  left: 150px;
  top: 450px;
  font-size: 200%;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  width: 150px;
  height: 70px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: 0.2s;
  background-color: white;
  word-spacing: 10px;
}
.play-btn:hover {
  background-color: #bfbcbc;
  color: #333333;
}
.info-btn {
  position: absolute;
  left: 350px;
  top: 450px;
  font-size: 200%;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  width: 150px;
  height: 70px;
  font-weight: 500;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: 0.2s;
  background-color: #464646;
  color:white;
  word-spacing: 5px;
}
.info-btn:hover {
  background-color: #363636;
  color: #ffffff;
}
h1:hover {

}
.thumbnail:hover {
 text-decoration: none !important; 
}
.thumbnail:hover {
  
}
.goto-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  top: 60px;
  left: 125px;
  transition: 0.3s;
  display: none;
}
.goto-btn:hover {
  background-color: #bfbcbc;
  transition: 0.3s;
}
.goto-btn h4 {
  color: #1b1b1b;
  margin-left: 3.5px;
  transition: 0.3s;
}
.col-xs-3:hover .goto-btn {
  transition: 0.3s;
  display: block;
}
.anime-top-title:hover .goto-btn {
  display: block;
  transition: 0.3s;
}
.thumbnail:hover .goto-btn {
  display: block;
  transition: 0.3s;
}
.thumbnail img:hover .goto-btn {
  display: block;
  transition: 0.3s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.side-nav-opn {
  position:absolute;
  color:white;
  top: 10px; 
  left: 1850px;
  font-size:30px;
  cursor:pointer;
  transition: 0.1s
}
.side-nav-opn:hover {
  color: #5b5b5b
}
.popout-txt{
  border-bottom: 0.5px solid #4c4b4b;
  margin-top: 15px;
  font-size: 22px !important;

}
.popout-txt:hover {
  text-decoration: none !important;
  border-bottom: 0.5px solid white;
}
.closebtn:hover {
  text-decoration: none !important;
}